.chat{
    display: flex;
    flex-direction: column;
    flex: 0.65;
}

.chat-header{
    padding: 20px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid lightgray;
}

.chat-header-info{
    flex: 1;
    padding-left: 20px;
}

.chat-header-info > h3{
    font-size: 18px;
    margin-bottom: 6px;
    font-weight: 600;
}
.chat-header-info > p{
    font-size: 12px;
    color: grey;
}

.chat-body{
    flex: 1;
    background-image: url("https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png");
    background-repeat: repeat;
    background-position: center;
    padding: 30px;
    overflow: scroll;
}

.chat-message{
    position: relative;
    font-size: 16px;
    padding: 10px;
    width: fit-content;
    border-radius: 10px;
    background-color: #FFFFFF;
    margin-bottom: 30px;
}

.chat-timestamp{
    margin-left: 10px;
    font-size: xx-small;
}
.chat-name{
    position: absolute;
    top: -20px;
    font-weight: 800;
    font-size: xx-small;
}

.chat-reciever{
    margin-left: auto;
    background-color: #dcf8c6;
}