.sidebarChat{
    display: flex;
    padding: 20px;
    cursor: pointer;
    border-bottom: 1px solid #f6f6f6;
}

.sidebarChat:hover{
    background-color: #ebebeb;
}

.sidebarChat-info > h2{
    font-size: 16px;
    margin-bottom: 8px;
}

.sidebarChat-info > p{
    font-size: 14px;
    color: grey;
}

.sidebarChat-info{
    margin-left: 15px;
}


.add-btn{
    width: fit-content;
    margin: 20px;
    background-color: lightgreen;
    border-radius: 4px;
    cursor: pointer;
    padding: 12px;
}
.add-btn:hover{
    background-color: rgb(79, 167, 79);
}

a{
    text-decoration: none;
    color: black;
}